<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.kas.anime.dao.ReportMapper" >
  <resultMap id="BaseResultMap" type="team.kas.anime.pojo.Report" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="vId" property="vid" jdbcType="VARCHAR" />
    <result column="uId" property="uid" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from reports
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="team.kas.anime.pojo.Report" >
    insert into reports (id, vId, uId, 
      reason, time)
    values (#{id,jdbcType=VARCHAR}, #{vid,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, 
      #{reason,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="team.kas.anime.pojo.Report" >
    update reports
    set vId = #{vid,jdbcType=VARCHAR},
      uId = #{uid,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, vId, uId, reason, time
    from reports
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, vId, uId, reason, time
    from reports
  </select>
</mapper>