<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>伪b站</title>
  <link rel="shortcut icon" href="../img/indexImg/favicons/1.png">
  <link rel="stylesheet" href="../layui/css/layui.css" />
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>

  <header id="header">
    <div id="page_top">
      <div class="bg-wrap">
        <div class="bg"></div>
        <div class="mask"></div>
      </div>
      <div class="header-top">
        <div class="page-width clearfix">
          <div class="header-top__nav">
            <ul>
              <li class="item item-home">
                <a >主站</a>
              </li>
              <li class="item"><a href="#">画友</a></li>
              <li class="item">
                <a >游戏中心</a>
                <div class="game-center header-hover">
                  <div class="c clearfix">
                    <div class="fl">
                      <div class="imgbox">
                        <a h>
                          <img src="../img/indexImg/cont/game-center__img1.jpg" alt="#">
                          <span>命运-冠位指定（Fate/GO）</span>
                        </a>
                      </div>
                      <div class="game-img">
                        <a >
                          <img src="../img/indexImg/cont/game_img1.png" alt="#">
                          <span>刀剑乱舞</span>
                        </a>
                        <a >
                          <img src="../img/indexImg/cont/game_img2.png" alt="#">
                          <span>阴阳师</span>
                        </a>
                        <a >
                          <img src="../img/indexImg/cont/game_img3.jpg" alt="#">
                          <span>崩坏三</span>
                        </a>
                      </div>
                    </div>
                    <div class="fr">
                      <div class="game-list">
                        <div class="title">
                          <i></i>
                          <a href="#">游戏论坛</a>
                        </div>
                        <div class="all">
                          <a href="#">仙剑奇侠传幻璃镜</a>
                          <a href="#">魔法禁书目录</a>
                          <a href="#">萌王EX</a>
                          <a href="#">妖精的衣橱</a>
                          <a href="#">神代梦华谭</a>
                          <a href="#">碧蓝航线</a>
                          <a href="#">光明大陆</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="gameImg"></div>
                </div>
              </li>
              <li class="item"><a href="#">周边</a></li>
              <li class="item">
                <a >移动端</a>
              </li>
            </ul>
          </div>
          <div class="header-top__user">
            <div class="login-box">
              <img class="layui-nav-img" src="../img/indexImg/user_post.png" th:src="@{'..'+${session.user.faceImage}}">
              <a id="userid" class="link" th:text="${session.user.nickname}"></a>
            </div>
            <div class="user-post">
              <a  class="link" th:href="@{/userIndex/loginout}">退出登录</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-c">
      <div class="page-width">
        <a href="#" id="header_logo"></a>
        <p id="header_title"></p>
        <div id="search" class="clearfix">
          <div class="search-rank">排行榜</div>
          <div class="search-box">
            <input type="text" class="text" placeholder="Search here...">
            <a href="#" class="btn"><i></i></a>
            <div class="search-history">
              <div class="title">历史搜索</div>
              <div class="list">
                <a href="#">努巴尼欢乐秀<i></i></a>
                <a href="#">主播真会玩守望篇<i></i></a>
                <a href="#">主播真会玩女神篇<i></i></a>
                <a href="#">暴暴勺暴暴<i></i></a>
                <a href="#">OverWatch<i></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="header-title">哔哩哔哩 (゜-゜)つロ 干杯~</div>
      </div>
    </div>
  </header>

  <nav id="nav">
    <div class="page-width clearfix">
      <ul class="nav-list">
        <li class="item item-home">
          <a class="link">首页</a>
        </li>
        <li class="item">
          <a class="link">
            <div class="num"><i>887</i></div>
            动画
          </a>
          <ul class="nav-item__hover">
            <li>
              <a >
                <em>MAD·AMV<i></i></em>
              </a>
            </li>
            <li>
              <a >
                <em>MMD·3D<i></i></em>
              </a>
            </li>
          </ul>
        </li>
        <li class="item">
          <a  class="link">
            <div class="num"><i>23</i></div>
            番剧
          </a>
          <ul class="nav-item__hover">
            <li>
              <a >
                <em>连载动画<i></i></em>
              </a>
            </li>
            <li>
              <a >
                <em>完结动画<i></i></em>
              </a>
            </li>
            <li>
              <a >
                <em>国产动画<i></i></em>
              </a>
            </li>
            <li>
              <a >
                <em>资讯<i></i></em>
              </a>
            </li>
            <li>
              <a >
                <em>官方延伸<i></i></em>
              </a>
            </li>
            <li>
              <a >
                <em>新番时间表<i></i></em>
              </a>
            </li>
            <li>
              <a >
                <em>番剧索引<i></i></em>
              </a>
            </li>
          </ul>
        </li>
        <li class="item">
          <a class="link">
            <div class="num"><i>999+</i></div>
            游戏
          </a>
          <ul class="nav-item__hover">
            <li>
              <a >
                <em>单机联机<i></i></em>
              </a>
            </li>
            <li>
              <a >
                <em>网游·电竞<i></i></em>
              </a>
            </li>
            <li>
              <a >
                <em>音游<i></i></em>
              </a>
            </li>
            <li>
              <a >
                <em>Mugen<i></i></em>
              </a>
            </li>
            <li>
              <a >
                <em>GMV<i></i></em>
              </a>
            </li>
          </ul>
        </li>
        <li class="item item-room">
          <a class="link">小黑屋</a>
        </li>
      </ul>
      <div class="nav-gif"><img src="../img/indexImg/cont/nav_img.gif" alt="求领养"></div>
    </div>
  </nav>

  <div id="banner">
    <div class="page-width clearfix">
      <div class="slider fl">
        <div class="slider-img">
          <a slider-title="pic1"><img src="../img/indexImg/cont/slider_img1.png" alt="#"></a>
          <a slider-title="pic2"><img src="../img/indexImg/cont/slider_img2.png" alt="#"></a>
          <a slider-title="pic3"><img src="../img/indexImg/cont/slider_img3.png" alt="#"></a>
          <a slider-title="pic4"><img src="../img/indexImg/cont/slider_img4.png" alt="#"></a>
        </div>
        <div class="slider-title"><p>pic1</p></div>
        <div class="slider-btn">
          <span class="cur"></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <a class="slider-more">More</a>
      </div>
      <div class="banner-list fr">
        <ul>
          <li>
            <a>
              <img src="../img/indexImg/cont/main_pic.jpg" alt="#">
              <div class="info">
                <p class="title">【初音ミク】39 TECHNO【八王子P】</p>
                <p class="author">up主：丧尸の桑</p>
                <p class="play">播放：48243</p>
              </div>
            </a>
          </li>
          <li>
            <a>
              <img src="../img/indexImg/cont/main_pic.jpg" alt="#">
              <div class="info">
                <p class="title">【初音ミク】39 TECHNO【八王子P】</p>
                <p class="author">up主：丧尸の桑</p>
                <p class="play">播放：48243</p>
              </div>
            </a>
          </li>
          <li>
            <a>
              <img src="../img/indexImg/cont/main_pic.jpg" alt="#">
              <div class="info">
                <p class="title">【初音ミク】39 TECHNO【八王子P】</p>
                <p class="author">up主：丧尸の桑</p>
                <p class="play">播放：48243</p>
              </div>
            </a>
          </li>
          <li>
            <a>
              <img src="../img/indexImg/cont/main_pic.jpg" alt="#">
              <div class="info">
                <p class="title">【初音ミク】39 TECHNO【八王子P】</p>
                <p class="author">up主：丧尸の桑</p>
                <p class="play">播放：48243</p>
              </div>
            </a>
          </li>
          <li>
            <a>
              <img src="../img/indexImg/cont/main_pic.jpg" alt="#">
              <div class="info">
                <p class="title">【初音ミク】39 TECHNO【八王子P】</p>
                <p class="author">up主：丧尸の桑</p>
                <p class="play">播放：48243</p>
              </div>
            </a>
          </li>
          <li>
            <a>
              <img src="../img/indexImg/cont/main_pic.jpg" alt="#">
              <div class="info">
                <p class="title">【初音ミク】39 TECHNO【八王子P】</p>
                <p class="author">up主：丧尸の桑</p>
                <p class="play">播放：48243</p>
              </div>
            </a>
          </li>
        </ul>
        <a class="btn btn-prev">昨日</a>
        <a class="btn btn-next">一周</a>
      </div>
    </div>
  </div>

  <div id="main">
    <div class="page-width">
      <!-- 推广 -->
      <div class="mainCont clearfix" id="promote">
        <div class="main-side fr">
          <div class="promote-side__title">
            <a >在线人数：715509</a>
            <span>|</span>
            <a >最新投稿：5806</a>
          </div>
        </div>
      </div>

      <!-- 动画 -->
      <div class="mainCont clearfix" id="animation" js-move="true">
        <div class="pic-list fl" js-tab="true">
          <div class="pic-list__title">
            <i class="icon icon-animation"></i>
            <h2>动画</h2>
            <div class="tab-title">
              <a  class="cur">有新动态</a>
            </div>
            <a  class="main-link"><i></i>我的十月新番打开方式一定有问题</a>
            <div class="more-wrap">
              <a class="dynamic"><i></i>392条新动态</a>
              <a class="more">更多<i></i></a>
            </div>
          </div>
          <ul class="pic-list__wrapper clearfix tab-cont__item tab-cont__cur">
            <li class="item">
              <a class="img-link" id="video0">
                <img src="../img/indexImg/cont/main_pic.jpg" th:src="@{'..'+${session.video0.coverPath}}" alt="#">
                <span class="mask"></span>
                <span class="time" th:text="${session.video0.videoSeconds}"></span>
              </a>
              <div class="img-info">
                <a th:text="${session.video0.videoDesc}"></a>
                <div class="btm">
                  <div class="user" th:text="${session.video0.uid}"><i></i></div>
                  <div class="online" th:text="${session.video0.playCounts}"><i></i></div>
                </div>
              </div>
            </li>
            <li class="item">
              <a class="img-link" id="video1">
                <img src="../img/indexImg/cont/main_pic.jpg" th:src="@{'..'+${session.video1.coverPath}}" alt="#">
                <span class="mask"></span>
                <span class="time" th:text="${session.video1.videoSeconds}"></span>
              </a>
              <div class="img-info" >
                <a th:text="${session.video1.videoDesc}"></a>
                <div class="btm">
                  <div class="user" th:text="${session.video1.uid}"><i></i></div>
                  <div class="online" th:text="${session.video1.playCounts}"><i></i></div>
                </div>
              </div>
            </li>
            <li class="item">
              <a class="img-link" id="video2">
                <img src="../img/indexImg/cont/main_pic.jpg" th:src="@{'..'+${session.video2.coverPath}}" alt="#">
                <span class="mask"></span>
                <span class="time" th:text="${session.video2.videoSeconds}"></span>
              </a>
              <div class="img-info" >
                <a th:text="${session.video2.videoDesc}"></a>
                <div class="btm">
                  <div class="user" th:text="${session.video2.uid}"><i></i></div>
                  <div class="online" th:text="${session.video2.playCounts}"><i></i></div>
                </div>
              </div>
            </li>
            <li class="item">
              <a class="img-link" id="video3">
                <img src="../img/indexImg/cont/main_pic.jpg" th:src="@{'..'+${session.video3.coverPath}}" alt="#">
                <span class="mask"></span>
                <span class="time" th:text="${session.video3.videoSeconds}"></span>
              </a>
              <div class="img-info" >
                <a th:text="${session.video3.videoDesc}"></a>
                <div class="btm">
                  <div class="user" th:text="${session.video3.uid}"><i></i></div>
                  <div class="online" th:text="${session.video3.playCounts}"><i></i></div>
                </div>
              </div>
            </li>
            <li class="item">
              <a class="img-link" id="video4">
                <img src="../img/indexImg/cont/main_pic.jpg" th:src="@{'..'+${session.video4.coverPath}}" alt="#">
                <span class="mask"></span>
                <span class="time" th:text="${session.video4.videoSeconds}"></span>
              </a>
              <div class="img-info" >
                <a th:text="${session.video4.videoDesc}"></a>
                <div class="btm">
                  <div class="user" th:text="${session.video4.uid}"><i></i></div>
                  <div class="online" th:text="${session.video4.playCounts}"><i></i></div>
                </div>
              </div>
            </li>
            <li class="item">
              <a class="img-link" id="video5">
                <img src="../img/indexImg/cont/main_pic.jpg" th:src="@{'..'+${session.video5.coverPath}}" alt="#">
                <span class="mask"></span>
                <span class="time" th:text="${session.video5.videoSeconds}"></span>
              </a>
              <div class="img-info" >
                <a th:text="${session.video5.videoDesc}"></a>
                <div class="btm">
                  <div class="user" th:text="${session.video5.uid}"><i></i></div>
                  <div class="online" th:text="${session.video5.playCounts}"><i></i></div>
                </div>
              </div>
            </li>
            <li class="item">
              <a class="img-link" id="video6">
                <img src="../img/indexImg/cont/main_pic.jpg" th:src="@{'..'+${session.video6.coverPath}}" alt="#">
                <span class="mask"></span>
                <span class="time" th:text="${session.video6.videoSeconds}"></span>
              </a>
              <div class="img-info" >
                <a th:text="${session.video6.videoDesc}"></a>
                <div class="btm">
                  <div class="user" th:text="${session.video6.uid}"><i></i></div>
                  <div class="online" th:text="${session.video6.playCounts}"><i></i></div>
                </div>
              </div>
            </li>
            <li class="item">
              <a class="img-link" id="video7">
                <img src="../img/indexImg/cont/main_pic.jpg" th:src="@{'..'+${session.video7.coverPath}}" alt="#">
                <span class="mask"></span>
                <span class="time" th:text="${session.video7.videoSeconds}"></span>
              </a>
              <div class="img-info" >
                <a th:text="${session.video7.videoDesc}"></a>
                <div class="btm">
                  <div class="user" th:text="${session.video7.uid}"><i></i></div>
                  <div class="online" th:text="${session.video7.playCounts}"><i></i></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="main-side fr" js-tab="true">
          <div class="main-side__title">
            <div class="rank-t">
              <h3>排行</h3>
            </div>
            <div class="tab-title">
              <a  class="cur">全部</a>
            </div>
            <div class="side-select">
              <span>三日</span>
              <i></i>
            </div>
          </div>
          <div class="main-side__cont">
            <div class="tab-cont">
              <ul class="tab-cont__item main-rank">
                <li class="item item-one">
                  <a >
                    <i class="n1">1</i>
                    <img src="../img/indexImg/cont/main-rank__img1.jpg" alt="#">
                    <div>
                      <p class="title">【1月】小林家的龙女仆 10【独家正版】</p>
                      <p class="mark">综合评分: 109.3万</p>
                    </div>
                  </a>
                </li>
                <li class="item">
                  <a ><i class="n2">2</i>                  【1月】火影忍者 疾风传 719</a>
                </li>
                <li class="item">
                  <a ><i class="n3">3</i>                    【4月】双星之阴阳师 48</a>
                </li>
                <li class="item">
                  <a ><i>4</i>狐妖小红娘 52 狗血大戏正上演 OP特效又更换</a>
                </li>
                <li class="item">
                  <a ><i>5</i>少年锦衣卫 第一季 06 怪谈</a>
                </li>
                <li class="item">
                  <a ><i>6</i>画江湖之不良人Ⅱ 35 阋墙之祸</a>
                </li>
                <li class="item">
                  <a ><i>7</i>【1月】黑白来看守所 24【独家正版】</a>
                </li>
              </ul>
            </div>
            <a href="#" class="more">查看更多<i></i></a>
          </div>
        </div>
      </div>

      <!-- 番剧 -->
      <div class="weekCont clearfix" id="bangumi" js-move="true">
        <div class="pic-list fl" js-tab="true">
          <div class="pic-list__title">
            <i class="icon icon-bangumi"></i>
            <h2>番剧</h2>
            <div class="tab-title week-tab">
              <a href="#" class="cur">最新</a>
              <a href="#">一</a>
              <a href="#">二</a>
              <a href="#">三</a>
              <a href="#">四</a>
              <a href="#">五</a>
              <a href="#">六</a>
              <a href="#">日</a>
            </div>
            <a href="#" class="week-schedule">新番时间表<i></i></a>
          </div>
          <div class="weekCont-list">
            <ul class="tab-cont__item tab-cont__cur">
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
            </ul>
            <ul class="tab-cont__item">
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
            </ul>
            <ul class="tab-cont__item">
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
            </ul>
            <ul class="tab-cont__item">
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
            </ul>
            <ul class="tab-cont__item">
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
            </ul>
            <ul class="tab-cont__item">
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
            </ul>
            <ul class="tab-cont__item">
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
            </ul>
            <ul class="tab-cont__item">
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
              <li>
                <a href="#" class="pic"><img src="../img/indexImg/cont/main_pic.jpg" alt="#"></a>
                <div class="info">
                  <a href="#">珈百璃的堕落</a>
                  <p>更新至<span>12话</span></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="main-side fr">
          <div class="main-side__title">
            <div class="rank-t">
              <h3>番剧排行</h3>
            </div>
            <div class="side-select">
              <span>三日</span>
              <i></i>
            </div>
          </div>
          <div class="main-side__cont">
            <ul class="main-rank">
              <li class="item">
                <a href="#"><i class="n1">1</i>人渣的本愿<span>全12话</span></a>
              </li>
              <li class="item">
                <a href="#"><i class="n2">2</i>小林家的龙女仆<span>更新至第12话</span></a>
              </li>
              <li class="item">
                <a href="#"><i class="n3">3</i>双星之阴阳师<span>全12话</span></a>
              </li>
              <li class="item">
                <a href="#"><i>4</i>珈百璃的堕落<span>更新至第12话</span></a>
              </li>
              <li class="item">
                <a href="#"><i>5</i>怪怪守护神<span>全12话</span></a>
              </li>
              <li class="item">
                <a href="#"><i>6</i>火影忍者 疾风传<span>全12话</span></a>
              </li>
              <li class="item">
                <a href="#"><i>7</i>Hand Shakers<span>更新至第1话</span></a>
              </li>
              <li class="item">
                <a href="#"><i>8</i>爱丽丝与藏六<span>全12话</span></a>
              </li>
            </ul>
            <a href="#" class="more">查看更多<i></i></a>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer id="footer">
    <div class="page-width">
      <ul class="footer-c clearfix">
         <li>
           <h6>dilidili</h6>
           <a href="#" class="card">关于我们</a>
           <a href="#" class="card">友情链接</a>
           <a href="#" class="card">周边</a>
           <a href="#" class="card">联系我们</a>
           <a href="#" class="card">加入我们</a>
           <a href="#" class="card">官方认证</a>
         </li>
         <li class="middle">
           <h6>传送门</h6>
           <a href="#" class="card">帮助中心</a>
           <a href="#" class="card">高级弹幕</a>
           <a href="#" class="card">活动专题页</a>
           <a href="#" class="card">侵权申诉</a>
           <a href="#" class="card">分院帽计划</a>
           <a href="#" class="card">活动中心</a>
           <a href="#" class="card">用户反馈论坛</a>
           <a href="#" class="card">壁纸站</a>
           <a href="#" class="card">名人堂</a>
         </li>
         <li class="footer-icon">
           <div class="cont">
             <a href="#" class="app">
               <i></i>
               <em>手机端下载</em>
               <img src="../img/indexImg/app-qrcode.png" alt="#">
             </a>
             <a href="#" class="weibo">
               <i></i>
               <em>新浪微博</em>
               <img src="../img/indexImg/weibo-qrcode.png" alt="#">
             </a>
             <a href="#" class="weixin">
               <i></i>
               <em>官方微信</em>
               <img src="../img/indexImg/weixin-arcode.gif" alt="#">
             </a>
           </div>
         </li>
      </ul>
    </div>
  </footer>



  <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="../layui/layui.js"  ></script>
  <script src="../js/script.js"></script>
  <script src="../js/userIndex.js"></script>
</body>
</html>